extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Voltar

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box
        h1 ELLDev
        p Desenvolvedor front-end

        .about-bio
          p Desenvolvedor com 5 anos de experiência em desenvolvimento de software, 1 ano de experiência em tecnologias front-end com ênfase no React.js

      .skills-contact-box.box
        h6 Compete&#770;ncias principais

        ul
          li React.js
          li JavaScript
          li CSS3
          li HTML5

        a.btn-link(href='https://github.com/ELLDev/' target="_blank") GitHub
