extends layout.pug

block content

  article.portfolio-intro

    h1.page-title Portfo&#769;lio

  article.portfolio-project-thumbs
    .projects-box.box.grid

      each project in projects
        .cell
          a(href=`/project/${project.id}`)
            .img-box(style=`background-image: url(${projects[project.id].image_urls[0]})`)
              ul.technologies
                each tech in projects[project.id].technologies
                  li=tech
            h5=`${projects[project.id].project_name}`
