extends layout.pug

block content

  article.portfolio-intro

    h1.page-title Portfo&#769;lio

  article.portfolio-project-thumbs
    .projects-box.box.grid

      each project in projects
        .cell
          a(href=`/project/${project.id}` target="_blank")
            img.thumbnail(src=`${projects[project.id].image_urls[0]}`, alt='')
            h5=`${projects[project.id].project_name}`
