extends layout.pug

block content
  nav.nav
    a(href='/')
      span &larr;
      |  Voltar

  h1.error-status 404
  h1.error-message Esta pa&#769;gina esta&#769; tirando uma soneca
  img.error-img(src=`/static/images/ret.png`, alt='')