@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

/*
  Main styles
*/

:root {
  --sidebar-color: #7a1fff;
}

* {
  box-sizing: border-box;
}

html,
body {
  font-size: 100%;
  width: 100%;
  min-width: 100%;
  height: 100%;
  min-height: 100%;
}

body {
  position: relative;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-weight: normal;
  line-height: 1.5;
  color: #0a0a0a;
  background: var(--sidebar-color);
  transform: translateX(0px);
  transition: all 400ms ease-out;
}

article {
  background: #fefefe;
}

h1,
h2,
h3,
h4,
h5,
p {
  font-family: "Merriweather", serif;
}

h5 {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 1px;
}

h6 {
  letter-spacing: 2.5px;
  -webkit-text-transform: uppercase;
  text-transform: uppercase;
  font-weight: 600;
}

p {
  font-size: 15px;
  color: #666;
}

a {
  text-decoration: none;
}

.wrapper {
  width: 100%;
  min-width: 320px;
  height: 100%;
  min-height: 100%;
  background: #fefefe;
}

.flex-row-wrap {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-gap: 30px;
}

.box {
  width: 100%;
  /* max-width: 1723px; */
  padding: 40px 2rem 30px;
  background: #fefefe;
  border-bottom: 1px solid #eaeaea;
}

.box h1,
.box h6 {
  margin: 0 auto 8px;
}

.box h6 {
  font-size: 110%;
  font-weight: bolder;
  letter-spacing: 2px;
}

ul.technologies {
  display: none;
}

li {
  font-size: 110%;
}

/*
  Sidebar and mobile header
*/
nav {
  width: 100%;
  padding: 20px;
  border-bottom: 1px solid #eaeaea;
}

nav a {
  display: table-row;
  width: 100%;
  vertical-align: middle;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 13px;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  color: #555;
}

nav a span {
  font-weight: bold;
  font-size: 1.25rem;
}

.sidebar {
  position: absolute;
  top: 0;
  left: -300px;
  bottom: 0;
  min-width: 300px;
  max-width: 300px;
  height: 100%;
  min-height: 100%;
  padding: 20px;
}

.sidebar-info-box {
  margin: auto;
}

.thumbnail-box {
  padding: 0 10px;
}

.sidebar .thumbnail {
  width: 100%;
  max-width: 250px;
  border: 4px solid #fff;
}

.dev-intro-box {
  padding: 10px;
}

span.github:hover {
  cursor: pointer;
}

.sidebar h5:after,
.nav a:after {
  display: block;
  content: "";
  transform: scaleX(0);
}

.sidebar h5:after {
  border-bottom: solid 2px white;
  transition: transform 300ms ease-in-out;
}

.nav a:after {
  border-bottom: solid 2px black;
  transform-origin: 100% 50%;
  transition: transform 200ms ease-in-out;
}

.sidebar h5:hover:after,
.nav a:hover:after {
  transform: scaleX(1);
}

.sidebar h5 {
  display: inline-block;
  color: #fefefe;
  margin: 0 auto 0.5rem;
}

svg {
  display: inline-block;
  position: relative;
  top: 5px;
}

.rotate-svg {
  -webkit-animation-name: spin;
  -webkit-animation-duration: 500ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-name: spin;
  -moz-animation-duration: 500ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: ease-in-out;
  -ms-animation-name: spin;
  -ms-animation-duration: 500ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: ease-in-out;

  animation-name: spin;
  animation-duration: 500ms;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}
@-ms-keyframes spin {
  from {
    -ms-transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(-360deg);
  }
}
@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(-360deg);
  }
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-360deg);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

.sidebar p {
  font-family: Verdana, sans-serif;
  text-rendering: optimizeLegibility;
  line-height: 1.6;
  font-size: 100%;
  color: white;
}

.sidebar a {
  display: table-row;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 90%;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  color: white;
  transition: text-shadow 200ms ease-in-out;
}

.sidebar a:after {
  border-bottom: solid 2px white;
  display: block;
  content: "";
  transform: scaleX(0);
  transition: transform 200ms ease-in-out;
  transform-origin: 0% 50%;
}

.sidebar a:hover {
  text-shadow: 1px 1px 0 rgb(85, 27, 161);
}

.sidebar a:hover:after {
  transform: scaleX(1);
}

.header {
  vertical-align: middle;
  color: #fefefe;
  height: 40px;
  padding: 0.5rem;
  background: linear-gradient(
    90deg,
    rgb(122, 39, 230) 0%,
    rgb(81 201 218) 100%
  );
  border-left: 1px solid #251000;
}

.header span {
  display: inline-block;
  font-weight: bold;
}

.header button {
  vertical-align: top;
  cursor: pointer;
  outline: none;
  position: relative;
  width: 20px;
  height: 16px;
  border: none;
  background: transparent;
  margin-top: 3px;
  margin-right: 10px;
  border-top: 2px solid #fefefe;
  border-bottom: 2px solid #fefefe;
}

.header button:after {
  content: "";
  position: absolute;
  top: 40%;
  left: 0;
  width: 20px;
  height: 2px;
  background: #fefefe;
}

/*
  Home page styles
*/
.portfolio-intro {
  max-width: 1200px;
  padding: 40px 50px 30px;
}

.portfolio-intro h1 {
  font-size: 2rem;
  color: #0a0a0a;
  margin: 0 auto 8px;
}

.portfolio-intro p {
  text-rendering: optimizeLegibility;
  font-size: 140%;
  margin: 0 auto;
  padding-bottom: 40px;
  border-bottom: 1px solid #eaeaea;
}

.projects-box h5 {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 13px;
  letter-spacing: 2.25px;
  text-transform: uppercase;
  color: #222;
  margin: 0.25rem auto 8px;
}

a .cell {
  width: 100%;
}

img {
  width: 100%;
  min-width: 100px;
  border: 4px solid #fff;
  box-shadow: 0 0 0 1px rgb(10 10 10 / 20%);
}

/* 
  About and project pages styles 
*/
.project-info-box p,
.about-intro-box p,
.about-intro-box h1,
.about-intro-box div {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.project-info-box h1 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

.about-intro-box p,
.project-info-box p {
  font-size: 125%;
}

.about-bio p {
  font-size: 125%;
  padding-top: 40px;
}

.skills-contact-box ul {
  margin-bottom: 35px;
}

.project-img-box {
  display: flex;
  flex-wrap: wrap;
}

.img-one-container {
  width: 100%;
}

.img-two-container {
  width: 100%;
  text-align: center;
}

.project-img {
  width: 100%;
  margin-right: 1rem;
  border: 4px solid #fff;
  box-shadow: 0 0 0 1px rgba(10, 10, 10, 0.2);
}

.project-img-one {
  max-width: 1208px;
}

.project-img-two {
  max-width: 383px;
}

.btn-link {
  display: block;
  text-align: center;
  color: #fefefe;
  width: 100%;
  max-width: 255px;
  margin: auto 0 5px 0;
  padding: 0.85em 1em;
  background-color: #333;
  border: 1px solid transparent;
  font-size: 105%;
}

.btn-link:hover {
  font-weight: 600;
  background-color: black;
}

.error-status {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: "Righteous";
  font-size: 6rem;
  color: cornflowerblue;
}

.error-message {
  margin: 0 1rem;
  padding: 0;
  text-align: center;
  font-family: "Righteous";
  font-size: 250%;
  color: black;
}

.error-img {
  display: block;
  margin: 0.5rem auto 0;
  padding: 0;
  width: auto;
  height: auto;
  max-width: 30vh;
}

.page-title {
  font-family: "Righteous";
}

/* 
  Tablet layout styles 
*/
@media screen and (min-width: 574px) {
  .sidebar h5 {
    font-size: 1.5rem;
  }

  .portfolio-intro h1 {
    font-size: 3rem;
  }

  .box {
    border-bottom: none;
  }

  .two-col .box:nth-of-type(1) {
    width: 70%;
    padding-right: 15px;
  }
  .two-col .box:nth-of-type(2) {
    width: 30%;
    padding-top: 50px;
    padding-left: 15px;
  }

  .cell {
    margin: 0 0 15px;
  }

  .cell h5 {
    font-size: 1.25rem;
  }

  .grid {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-template-columns: 1fr 1fr;
  }

  .error-img {
    margin-top: 3rem;
    max-width: 40vh;
  }
  .error-status {
    font-size: 7rem;
  }
  .error-message {
    font-size: 300%;
  }

  .project-img-box {
    display: flex;
    flex-wrap: nowrap;
  }

  .img-one-container {
    width: 75%;
    margin-right: 1rem;
  }

  .img-two-container {
    width: 24%;
  }
}

/* 
  Desktop layout styles 
*/

@media screen and (min-width: 1024px) {
  .portfolio-intro h1 {
    font-size: 3rem;
  }

  .sidebar {
    left: 0;
  }
  .header {
    display: none;
  }

  .wrapper {
    margin-left: 300px;
    width: calc(100% - 300px);
  }

  .grid {
    grid-gap: 2rem;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 3.125rem;
  }

  .cell {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  img {
    position: relative;
  }

  ul.technologies {
    position: absolute;
    display: flex;
    color: white;
    list-style: none;
    font-size: 200%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    opacity: 0;
    top: 0.5rem;
    left: 0.5rem;
    margin: 0;
    padding: 0;
  }

  .technologies li {
    display: block;
    font-size: 90%;
    border: double 4px transparent;
    border-radius: 25px;
    background-image: linear-gradient(black, black),
      linear-gradient(45deg, rgb(255 0 0) 0%, rgb(255 179 0) 100%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    letter-spacing: 1px;
    line-height: 160%;
    font-family: consolas;
    margin: 0.75rem;
  }
}

@media screen and (min-width: 1600px) {
  .portfolio-intro {
    text-align: center;
    margin: 0 auto;
    padding: 3.125rem 0;
  }

  .grid {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .technologies li {
    margin: 0.5rem;
    line-height: 150%;
  }
}

@media screen and (min-width: 1900px) {
  .portfolio-intro h1 {
    font-size: 4rem;
  }

  .sidebar {
    left: 0;
  }

  .box {
    width: 85%;
    margin: auto;
    padding: 0;
  }

  .header {
    display: none;
  }

  .wrapper {
    margin-left: 300px;
    width: calc(100% - 300px);
  }

  .cell h5 {
    margin: 0;
    margin-top: 0.5rem;
  }

  .grid {
    grid-gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr;
    padding-bottom: 3.125rem;
  }

  .inner-wrapper {
    max-width: 1790px;
  }
  .error-status {
    font-size: 10rem;
  }
  .error-message {
    font-size: 400%;
  }

  ul.technologies {
    top: 1rem;
    left: 1rem;
  }

  .technologies li {
    font-size: 100%;
    line-height: 180%;
  }
}
